In [21]:
import pandas as pd
import sqlite3

In [6]:
df = pd.read_csv('Assignment_Log.csv')
df.head()

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
0,06/22/2017 19:59:06,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Accepted Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,0,13,14,4,6,2,0,1,1
1,06/22/2017 19:59:02,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Assigned Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,1,13,15,5,6,2,0,1,1
2,06/22/2017 19:51:30,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Declined Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,9,"sourcing, writing",1,12,12,5,5,1,0,0,1
3,06/22/2017 19:51:01,0e9802516f8a79dd0d45211dd4ee74af,4.50,4.50,Accepted Job,594c1f5cd7e68f0028c9062c,06/22/2017 15:49:48,sourcing,1,"sourcing, writing",1,11,12,5,5,1,0,0,1
4,06/22/2017 19:50:58,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Assigned Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,8,"sourcing, writing",2,11,14,5,5,2,0,1,1

Employee 'a09c8906073b4c0b75e3100b857b982a' has the most action with 72 events

In [29]:
df['Analyst'].value_counts()

a09c8906073b4c0b75e3100b857b982a    72
62060850630c7afe54fd59151413d237    46
642782c690c8d963c487300a4751e220    42
732e4a29b2e318bce3c1e923276ddf51    42
9fcbc63ff4c8bea5cea4efad782c87cf    40
85c7b78e76b5232cd38014ea4cdc8f56    35
7e22ad15724c44543d1d4bcafd10c812    28
94959cf2d0b592d0fa1e5e9cf760a1c7    26
0e9802516f8a79dd0d45211dd4ee74af    24
d8e25a290ea51352bf9100a99c475f6d    19
6c6bd5e891c4015e534773dfb19f29b0    19
0c2680433387fb4cf51a3546296f8422    18
9fa24ddce8fd9d1526d9d7451304fc74    17
8258591d197a3936de0f7ee021ab9e0e    17
c9401f82fdedf3cd080a03bafe3447c7    17
c2dcc0b178176d7e6b185df9bd1cb4f2    16
d6eaa4eeb52b4d62ec78299454763870    15
caf77e4ba6154e998b352cc92c685f80    15
710dbda77cade1eced9c735c08e6e38d    14
f7f7591403c6c431053920223069550a    14
795930bc4ed320777ad76b46da2ed66d    14
dddcdea13df8232803957a5d9c847aae    13
39b71201151caf98fd10afce50cfc83e    12
d5aa695af013ee5baaeeccfb7ca50c80    10
98de7e62209a07eee6ec8dc984911042    10
d9837e646a15a4fdd823531178b2d62e     8
00360b3f177375b01b795a4be7b4686c     8
6b19235b9269df81b6da879771bf40bc     8
4bb6e496f0c92286dee7eed7038ddd9d     8
2df8ce7d317c7d89dfa95be7695d2de0     8
                                    ..
e8a2b0b2e2234a89dc52dd8a3e0f79e6     4
d74c4a7423dd3ee0a78de5481c364823     4
b599bfb42906772db81ac90137fc1916     4
1f8d8b08a994331e419d24293ce9e7b0     4
77b8ab28b9e95edb3a69ca7a6d352ec8     4
32553d485988e2ddcf0f701c60754f2d     4
36ee9fc3bade4a4f71c2a6e5c2bd8862     4
de71db592b02c988670ca3d301a02568     4
9286ce84f2401fbd6635f7d768c3cad1     4
5238b0785b5576f5ffe665136df9244f     4
608b40f66ef114c6d9f5c95021290f69     4
2d0f64a208f69a70ec415cfccb59cc24     4
052066814364850e1a17a90d576dd904     3
e2333b2dc03032f12c8526e45243f0c1     3
766d3435eda76c4de9f034b8f97a0602     3
30ea4ac9222bfa53b3849df49d6f26f0     2
ea452a7456e38887ca8b98f4e131d224     2
95130c93e28b36bcb5ecd7e747b4d5c2     2
b692db6843c42f5ce686fcdfda4e0b62     2
ea5354c723ba83f2c412c238b133e84a     2
e817dd4305458b293cbeb3015da99565     2
f3b93c5ae97215ae15fa63b5f0fc30e1     2
3a8a0b0323b02a707535fe7d65821de3     2
83f00c2268afaf459715f4c52e16dd23     2
e9468b4c33f88d6937c4ad2bea8bbc2f     2
ef7e6e9fd91d89f2e31b26b9feaec787     2
57ef46a92ecee8e187f4d450e92651ea     2
bcd8d747b5af397febc04228293f747f     2
5233d783ae5bf0483cf49549cbc594f8     2
5078cc506436a8668c0b6de594842fcf     1
Name: Analyst, Length: 71, dtype: int64

In [19]:
df.describe()

,Quality score (sourcing),Quality score (writing),Wait time (min),Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
count,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000,791.000000
mean,3.935297,3.935297,5.099874,2.673831,15.214918,8.054362,2.836915,1.628319,1.737042,0.087231,0.385588,1.379267
std,1.869956,1.869956,12.153611,1.870439,4.868065,3.644080,2.802793,1.627581,2.841667,0.295496,0.619714,1.547648
min,0.000000,0.000000,1.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.400000,4.400000,1.000000,1.000000,11.000000,5.500000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,4.830000,4.830000,1.000000,2.000000,14.000000,8.000000,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,5.000000,5.000000,2.000000,4.000000,20.000000,11.000000,5.000000,2.000000,2.000000,0.000000,1.000000,2.000000
max,5.000000,5.000000,107.000000,8.000000,25.000000,16.000000,11.000000,7.000000,12.000000,2.000000,4.000000,6.000000

**EDA**

In [15]:
#type(df['Event occurred at'][0])
type(df['Request created at'][0])

str